@model LoginVM

@{
    Layout = "_AuthLayout";
}

<div class="login-container">
    <form class="login-form" asp-action="Login" method="post" >
        <h1>Welcome Back</h1>
        <p>Please login to your account</p>
        @Html.ValidationSummary()

        <div class="input-group">
            <input asp-for="Email" placeholder="Email">
            <span style="color:red" asp-validation-for="Email"></span>

        </div>
        
        <div class="input-group">
            <input asp-for="Password" placeholder="Passowrd">
            <span style="color:red" asp-validation-for="Password"></span>
        </div>
        
        <button type="submit">Login</button>
        
        <div class="bottom-text">
            <p>Don't have an account? <a asp-action="Register">Sign Up</a></p>
        </div>

    </form>
</div>
