@model RegisterVM
@{
    Layout = "_AuthLayout";
}


<div class="login-container">
    <form class="login-form" asp-action="Register" method="post">
        @Html.ValidationSummary()

        <div class="input-group">
            <input asp-for="Email" placeholder="Email">
            <span style="color:red" asp-validation-for="Email" ></span>
        </div>

        <div class="input-group">
            <input asp-for="Password" placeholder="Passowrd">
            <span style="color:red" asp-validation-for="Password" ></span>
        </div>
        
        <div class="input-group">
            <input asp-for="RePassword" placeholder="RePassowrd">
            <span style="color:red" asp-validation-for="RePassword" ></span>
        </div>

        <button type="submit">Register</button>

        <div class="bottom-text">
            <p>Already have an account? <a asp-action="Login">Sign In</a></p>
        </div>
    </form>
</div>
